
<%= image_tag asset_path('forest.jpg'), alt: "text", style: 'height:725px;width:100%', class: 'img' %>
<%= render 'shared/input' %>
<%= render 'shared/question' %>
<%= image_tag asset_path('Forest.png'), alt: "text", style: 'height:725px;width:100%', class: 'img' %>

<div class="choices">
  <div class="row">
    <%= render 'shared/button', local: 'A' %>
    <%= render 'shared/button', local: 'B' %>
  </div>
  <div class="row">
    <%= render 'shared/button', local: 'C' %>
    <%= render 'shared/button', local: 'D' %>
  </div>
</div>
