<body>
  <div id="box_battle" class="center" style="border: 2px solid black; width: 90vw; background-size:cover;">
    <div class="health-bar-container d-flex">
      <div class ="" style="width:50%">
        <div class="health-bar-row hero-health">
          <div class="d-flex flex-column" style="margin-left:15px;">
            <div class="p-2">
              <h2 style="color:white;">Hero Health</h2>
            </div>
            <div class="p-2"><% @show_health.times do %>
                <button class="health-bar"></button>
              <% end %></div>
          </div>
        </div>
      </div>
      <div class ="" style="width:50%">
        <% monster_health = 4 %>
        <div class="health-bar-row monster-health">
          <div class="d-flex flex-column" style="margin-right:15px;">
            <div class="p-2">
              <h2 style="color: white;">Monster Health</h2>
            </div>
            <div class="p-2"> <% @monster.current_health.times do %>
                <button class="health-bar"></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="hero" style="left: 18%; bottom: 0px; top: 250%; position:absolute"></div>
      <div id="<%= @monster.name %>battle" style="left: 60%; bottom: 0px; top: 220%; position:absolute;"></div>
      <div class="container fixed-bottom" style="">
        <div class="d-flex justify-content-center">
          <div class="col-lg-9" style=" ">
            <div class="text-container" style="height: 150px; background-color:white;">
              <div class=""><%= render 'shared/question', question: @question.text %></div>
            </div>
          </div>
          <div class="col-lg-7 ">
            <div class="options-container" style="margin-left:5px;">
              <div class="row">
                <div class="col-sm-6" style="padding-left:0px; padding-right:0px">
                  <div class="square-option">
                    <%= render 'shared/button', local: @choices[0] %>
                  </div>
                </div>
                <div class="col-sm-6" style="padding-left:0px; padding-right:0px">
                  <div class="square-option" style ="margin:0px !important;">
                    <%= render 'shared/button', local: @choices[1] %>
                  </div>
                </div>
                <div class="col-sm-6" style="padding-left:0px; padding-right:0px">
                  <div class="square-option">
                    <%= render 'shared/button', local: @choices[2] %>
                  </div>
                </div>
                <div class="col-sm-6" style="padding-left:0px; padding-right:0px">
                  <div class="square-option">
                    <%= render 'shared/button', local: @choices[3] %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    #hero {
      width: 350px;
      height: 300px;
      background-image: url(<%= asset_path('Herobattle.png') %>);
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }

    #box_battle {
      background-image: url(<%= asset_path('forestbattle.jpg') %>);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      border-width: 6px !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    #box_battle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      pointer-events: none;
    }
    #wolfbattle {
      width: 500px;
      height: 350px;
      background-image: url(<%= asset_path('wolfbattle.png') %>);
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
     }
        #batbattle {
      width: 500px;
      height: 350px;
      background-image: url(<%= asset_path('batbattle.png') %>);
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
     }
        #ratbattle {
      width: 500px;
      height: 350px;
      background-image: url(<%= asset_path('ratbattle.png') %>);
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
     }

    .health-bar-container {
      position: relative;
      z-index: 1; /* Ensure the health bars are above the background shadow */
    }

    .health-bar-row {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      position: relative;
      z-index: 1;
    }

    .hero-health {
      justify-content: center;
    }

    .monster-health {
      justify-content: center;
    }

    .health-bar {
      width: 20px;
      height: 40px;
      background-color: red;
      margin-right: 5px;
    }
  </style>
