<p> <%= @question.text %>  </p>
<%= @choice1.text  %>,
<%= @choice2.text %>,
<%= @choice3.text %>,
<%= @choice4.text %>,
<p>Correct Answer: <%= @answer %> </p>
<%= render 'shared/four_choices', choices: @choices %>
<%= render 'shared/question', question: @question.text %>
