<p> <%= @question.text %>  </p>
<%= @choices[0].text  %>,
<%= @choices[1].text %>,
<%= @choices[2].text %>,
<%= @choices[3].text %>,
<p>Correct Answer: <%= @answer %> </p>
<%= render 'shared/four_choices', choices: @choices %>
<%= render 'shared/question', question: @question.text %>
