<div class="contain-all">
  <h1><%= @question.text %></h1>
  <h2>Choices</h2>
  <ul>
    <% @answers.each do |answer| %>
      <li class="answer"><%= answer.text %></li>
    <% end %>
  </ul>
  <div>
    <h2>Type your answer</h2>
    <div class="font-change">
      <%= simple_form_for [@current_character, @question, @correct, @character_answer] do |f| %>
        <%= f.input :text %>
        <% f.association :character, input_html: { value: @current_character, style: 'display:none' } %>
        <% f.association :question, input_html: { value: @question, style: 'display:none' } %>
        <% f.association :answer, input_html: { value: @correct, style: 'display:none' } %>
        <%= f.button :submit, value: "submit answer", class: "create-btn nes-btn is-warning", style: "text-decoration: none" %>
      <% end %>
    </div>
  </div>
</div>
<%# Need to do the correct or false with JS  %>
