<div class="center1" style="border: 2px solid black; width: 1260px; height: 720px;">
  <div id="tavern">
    <%= link_to show_battle_character_questions_path(@character, @monster) do %>
      <div id="hero"></div>
    <% end %>
    <div id="wizard"></div>
    <div id="book"></div>
    <div style="margin-left:540px; margin-top:30px">
      <p class ="word" style="color:yellow"> Lecture Time! </p>
    </div>
    <div style="margin-left:480px;">
      <p class ="word" style="color:yellow"> Monster Battle Hints </p>
    </div>
    <div class="word book-page d-flex" style="margin-left:410px; margin-top:0px">
      <div>
        <% hint = rand(1..8) %>
        <div class="hints"> <%= render "#{hint}e" %> </div>
      </div>
      <div style="margin-left: 70px;">
        <div class="hints"> <%= render "#{hint}j" %> </div>
      </div>
      <%= link_to show_battle_character_questions_path(@character, @monster) do %>
        <div style="margin-left:60px; margin-top:250px; font-size:18px;">
          <p class ="word" style="width:300px; color:yellow;"> To the Battle! </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  //function handleKeyPress() {
    //  window.location.href = '<%= show_battle_character_questions_path(@character, @monster) %>';
    //}
    //document.addEventListener("keydown", handleKeyPress);
  function handleClickPress() {
    window.location.href = '<%= show_battle_character_questions_path(@character, @monster) %>';
  }
    document.addEventListener("click", handleClickPress);
</script>
