<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
<div id="box" style="border: 2px solid black; width: 1500px; height: 650px; margin-top:15px; margin-left:15px;">
  <div id="hero" style="left: 50px; bottom: 0px; top: 400px; position:absolute;"></div>
  <div id="wizard" style="left: 1100px; bottom: 0px; top: 400px; position:absolute;"></div>
  <div id="book" style="left: 410px; bottom: 0px; top: 100px; position:absolute;"></div>
  <div style="margin-left:650px; margin-top:30px">
    <p class ="word"> Lecture Time! </p>
  </div>
  <div style="margin-left:580px;">
    <p class ="word"> Monster Battle Hints </p>
  </div>
  <div class="word d-flex" style ="margin-top:50px;margin-left:500px;width:480px; height:200px;font-size:15px;" >
    <div>
      <p style="margin-top:50px;width:230px;color:black;">Simple present: Simple present is a verb tense used to describe actions or states that are habitual, regular, or general truths. ”</p>
    </div>
    <div style="margin-left:70px;">
      <p style="margin-top:50px;width:230px;color:black;"> It is used to talk about things that happen in the present or are always true. For example, "I work at a company.” or "She likes to read books.”</p>
    </div>
    <div style="margin-left:100px; margin-top:210px">
      <p class ="word" style="width:300px;"> Press any button to the battle! </p>
    </div>

</div>
</div>
<style>
  #box {
    position: relative;
    width: 1500px;
    height: 650px;
    margin-top: 15px;
    margin-left: 15px;
    background-image: url(<%= asset_path('tabern.jpg') %>);
    background-size: cover;
    background-position: center;
  }
  .word {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    filter: brightness(100%);
  }
  #box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }

  #hero {
     width: 300px;
     height: 250px;
     background-image: url(<%= asset_path('hero2.png') %>);
     position: relative;
     transition: 0.1s linear;
    }
  #wizard {
     width: 300px;
     height: 250px;
     background-image: url(<%= asset_path('wizard.png') %>);
     position: relative;
     transition: 0.1s linear;
    }
    #book {
     width: 700px;
     height: 550px;
     background-image: url(<%= asset_path('book.png') %>);
     position: relative;
     transition: 0.1s linear;
     background-repeat: no-repeat;
    }
</style>

<script>
  function handleKeyPress() {
      window.location.href = '<%= show_battle_character_questions_path(@character) %>';
    }
    document.addEventListener("keydown", handleKeyPress);
</script>
<%= link_to "To Battle",  show_battle_character_questions_path(@character) %>
