<body>
  <div id="box" class="center" style="border-radius: 0; width: 100vw; background-size:cover;">
    <div id="sprite" style="left: 450px; bottom: 0px; top: 300px; position:absolute; "></div>
    <%= link_to show_cave_character_maps_path(@character) do %>
      <div id="signcave">↑
        <p class="to-adventure-text" >cave</p>
      </div>
    <% end %>
    <%= link_to show_castle_character_maps_path(@character) do %>
      <div id="signcastle">↑
        <p class="to-adventure-text" >castle</p>
      </div>
    <% end %>
    <%= link_to show_ruin_character_maps_path(@character) do %>
      <div id="signruin">
        <p class="to-adventure-text" >ruins</p>
        ↓
      </div>
    <% end %>
    <%= link_to show_village_character_maps_path(@character) do %>
      <div id="sprite2" style="left: 5vw; top: 39vh; position:absolute;"></div>
    <% end %>
  </div>

  <style>
   #sprite {
    width: 45px;
    height: 60px;
    background-image: url(<%= asset_path( @character.icon_name.downcase) %>);
    position: relative;
    transition: 0.1s linear;
    }
  </style>
