<body>
  <div id="box_cave" class="center" style="border-radius: 0; width: 100vw; background-size: cover;">
    <div id="sprite" style="left: 450px; bottom: 0px; top: 400px; position:absolute;"></div>
    <% if Monster.find_by_name("rat1").current_health > 0 %>
      <%= link_to  show_battle_character_monster_questions_path(@character, @monster = Monster.find_by_name('rat1')) do %>
        <div id="rat1" class="monster animation"></div>
      <% end %>
    <% end %>
    <% if Monster.find_by_name("skeleton").current_health > 0 %>
      <%= link_to  show_battle_character_monster_questions_path(@character, @monster = Monster.find_by_name('skeleton')) do %>
        <div id="skeleton" class="monster animation"></div>
      <% end %>
    <% end %>
    <% if Monster.find_by_name("batpurple").current_health > 0 %>
      <%= link_to  show_battle_character_monster_questions_path(@character, @monster = Monster.find_by_name('batpurple')) do %>
        <div id="batpurple" class="monster animation"></div>
      <% end %>
    <% end %>
    <%= link_to character_maps_path(@character) do %>
      <div class="nes-text exit-arrow" style="left: 17.5vw; bottom: 0px; top: 150px; position:absolute;">↑</div>
    <% end %>
  </div>
</body>
<style>
  #sprite {
  width: 15vw;
  height: 15vw;
  background-image: url(<%= asset_path(@character.icon_name.downcase) %>);
  position: absolute;
  transition: 0.1s linear;
  background-size: contain;
  }
</style>
