<% monster_health = 4 %>
  <h2>Your health</h2>
  <% @show_health.times do %>
    <button class="health-bar" style="margin-top:10px;"></button>
  <% end %>

  <h2>Monster health</h2>
  <% @monster.current_health.times do %>
    <button class="health-bar" style="margin-top:10px;"></button>
  <% end %>

  <% if @monster.current_health <= 0 %>
    <%= render 'battle_end', monster:@monster, character:@character %>
  <% end %>

  <% if @answer.correct %>
    <%= render "correct", monster:@monster, character: @character %>
  <% else %>
    <%= render "wrong", monster:@monster, character:@character %>
  <% end %>

<%# Add a condition on the monster health %>
<% if @next_question && @monster.current_health >= 0 && @character.current_health >= 0 %>
  <%= link_to "Next question", show_battle_monster_path(@monster), class: 'text-primary' %>
<% else %>
  <%= render "battle_end" %>
  <%#= link_to "Village", show_village_maps_path, class: 'text-primary' %>
<% end %>
