<div class="center" id="box" style="border-radius: 0; width: 100vw; background-size: cover;">
  <div id="sprite" style="left: 460px; bottom: 0px; top: 340px; position: absolute;"></div>
  <%= link_to character_maps_path(@character) do %>
    <div class="nes-text" id="sprite2" style="left: 670px; bottom: 0px; top: 600px; position:absolute; background-image:none;">
      <p class="to-adventure-text" >To adventure...</p>
      ↓ </div>
  <% end %>
  <div id="sprite3" style="left: 29vw; top: 30vh; position:absolute;"></div>
  <div id="sprite4" style="left: 4vw; top: 62vh; position:absolute;"></div>
  <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }  do %>
    <div id="sprite5" style="left: 56vw; top: 33vh;  position:absolute;"></div>
  <% end %>
  <div id="sprite6" style="left: 76vw; top: 51vh; position:absolute;"></div>
</div>
<style>
  .center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    }
    #box {
   background-image: url(<%= asset_path('village.png') %>);
   background-repeat: no-repeat;
   width: 100%;
    height: 100%;

    }

    #sprite6 {
   width: 30px;
    height: 45px;
    background-image: url(<%= asset_path('villager4.png') %>);
    position: relative;
    transition: 0.1s linear;
    }

    #sprite5 {
   width: 30px;
    height: 45px;
    background-image: url(<%= asset_path('villager3.png') %>);
    position: relative;
    transition: 0.1s linear;
    }

    #sprite4 {
    width: 30px;
    height: 45px;
    background-image: url(<%= asset_path('villager2.png') %>);
    position: relative;
    transition: 0.1s linear;
    }

    #sprite3 {
    width: 30px;
    height: 45px;
    background-image: url(<%= asset_path('villager1.png') %>);
    position: relative;
    transition: 0.1s linear;
    }

    #sprite2 {
      position: relative;
      transition: 0.1s linear;
      font-size: 16px;
      font-family: 'Press Start 2P', cursive;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
    }

    #sprite {
    width: 45px;
    height: 60px;
    background-image: url(<%= asset_path( @character.icon_name.downcase) %>);
    position: relative;
    transition: 0.1s linear;
    }
</style>
<script>
  const sprite3 = document.querySelector('#sprite3');

  const characterText = document.createElement('div');
  characterText.textContent = 'All characters';
  characterText.style.position = 'absolute';
  characterText.style.top = '25px';
  characterText.style.left = '50%';
  characterText.style.transform = 'translateX(-50%)';
  characterText.style.color = 'white';
  characterText.style.fontFamily = "'Press Start 2P', cursive";
  characterText.style.fontSize = '14px';
  characterText.style.fontWeight = 'bold';
  characterText.style.textShadow = '2px 2px 4px rgba(0, 0, 0, 0.5)';
  characterText.style.cursor = 'pointer';
  characterText.style.display = 'block';

  sprite3.appendChild(characterText);

  const popupImage = document.createElement('div');
  popupImage.style.backgroundImage = `url(<%= asset_path('villager1.png') %>)`;
  popupImage.style.width = '30px';
  popupImage.style.height = '45px';
  popupImage.style.position = 'absolute';
  popupImage.style.top = '0';
  popupImage.style.left = '0';
  popupImage.style.transition = '0.1s linear';
  popupImage.style.opacity = '0';

  sprite3.appendChild(popupImage);

  sprite3.addEventListener('mouseenter', () => {
    sprite3.style.transform = 'scale(1.2)';
    sprite3.style.zIndex = '1';
    popupImage.style.opacity = '1';
  });

  sprite3.addEventListener('mouseleave', () => {
    sprite3.style.transform = '';
    sprite3.style.zIndex = '';
    popupImage.style.opacity = '0';
  });

  characterText.addEventListener('click', () => {
    window.location.href = '<%= user_characters_path(current_user) %>';
  });


  const sprite5 = document.querySelector('#sprite5');

  const characterText2 = document.createElement('div');
  characterText2.textContent = 'Log out';
  characterText2.style.position = 'absolute';
  characterText2.style.top = '40px';
  characterText2.style.left = '120%';
  characterText2.style.transform = 'translateX(-50%)';
  characterText2.style.color = 'white';
  characterText2.style.fontFamily = "'Press Start 2P', cursive";
  characterText2.style.fontSize = '14px';
  characterText2.style.fontWeight = 'bold';
  characterText2.style.textShadow = '2px 2px 4px rgba(0, 0, 0, 0.5)';
  characterText2.style.cursor = 'pointer';
  characterText2.style.display = 'block';

  sprite5.appendChild(characterText2);

  const popupImage2 = document.createElement('div');
  popupImage2.style.backgroundImage = `url(<%= asset_path('villager3.png') %>)`;
  popupImage2.style.width = '30px';
  popupImage2.style.height = '45px';
  popupImage2.style.position = 'absolute';
  popupImage2.style.top = '0';
  popupImage2.style.left = '0';
  popupImage2.style.transition = '0.1s linear';
  popupImage2.style.opacity = '0';

  sprite5.appendChild(popupImage2);

  sprite5.addEventListener('mouseenter', () => {
    sprite5.style.transform = 'scale(1.2)';
    sprite5.style.zIndex = '1';
    popupImage2.style.opacity = '1';
  });

  sprite5.addEventListener('mouseleave', () => {
    sprite5.style.transform = '';
    sprite5.style.zIndex = '';
    popupImage2.style.opacity = '0';
  });



            const box = document.querySelector('#box');
            const sprite = document.querySelector('#sprite');
            const sprite2 = document.querySelector('#sprite2');
            const button = document.querySelector('button');
            let speed = 5;

            const toNum = (pxVal) => {
                return parseInt(pxVal, 10);
            };

            const resetSpritePosition = () => {
              sprite.style.left = '50px';
              sprite.style.top = '300px';
              }

            const handleMovement = (e) => {
                let left = toNum(sprite.style.left);
                const top = toNum(sprite.style.top);

                let left2 = toNum(sprite2.style.left);
                const top2 = toNum(sprite2.style.top);
                if (
                left >= left2 &&
                left <= left2 + sprite2.offsetWidth &&
                top >= top2 &&
                top <= top2 + sprite2.offsetHeight
            ) {

              console.log('Sprite 1 reached the location of Sprite 2!');
              window.location.href = '<%= character_maps_path(@character) %>';
              resetSpritePosition();
            }

                switch (e.key) {
                    case 'ArrowLeft':
                    case 'a':
                        if (left <= 0) return (sprite.style.left = 0);
                        sprite.style.left = left - speed + 'px';
                        break;
                    case 'ArrowRight':
                    case 'd':
                        if (left >= 1440) return (sprite.style.left = 1440);
                        sprite.style.left = left + speed + 'px';
                        break;
                    case 'ArrowUp':
                    case 'w':
                        if (top <= 0) return (sprite.style.top = 0);
                        sprite.style.top = top - speed + 'px';
                        break;
                    case 'ArrowDown':
                    case 's':
                        if (top >= 600) return (sprite.style.top = 600);
                        sprite.style.top = top + speed + 'px';
                        break;
                }
            };


            window.addEventListener('keydown', handleMovement);
</script>
