<div class="header-container">
  <div class="header-cards header-logo">
    <%= image_tag("Logo.png", alt: "logo") %>
  </div>
  <div class="header-cards"><%= link_to "Top", root_path %></div>
  <div class="header-cards"><%= link_to "About the Game", root_path %></div>
  <div class="header-cards"><%= link_to "About Us", root_path %></div>
  <div class="header-cards"><%= link_to "Contact Us", root_path %></div>
</div>
