<%# need to add link to log in /sign in button. Insert the link after fixing the routes %>
<div class="home">
  <div class="center">
    <%= image_tag(asset_path('Logo.png')) %>
  </div>
  <div class="add-font">
<<<<<<< HEAD
    <% if current_user %>
      <%= link_to 'Play the game!', new_user_session_path, class: "create-btn nes-btn is-warning mx-5", style: "text-decoration: none" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: "create-btn nes-btn is-warning mx-5", style: "text-decoration: none" %>
    <% end %>
=======
     <% if user_signed_in? %>
        <%= link_to 'Back to the Game', user_characters_path(current_user), class: "create-btn nes-btn is-warning mx-5", style: "text-decoration: none" %>
      <% else %>
        <%= link_to 'Log in / Sign in', new_user_session_path, class: "create-btn nes-btn is-warning mx-5", style: "text-decoration: none" %>
      <% end %>
>>>>>>> 064c87713bf478a809c3fe0bcad9577c471d6a16
  </div>
</div>
