<%= render "shared/header" %>
<div class="contain-home-2">
  <div id="carouselExampleIndicators" class="carousel h-100 slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item active">
        <%= image_tag asset_path("lp-photo.png"), class: 'd-block w-100 h-100 cover' %>
        <%# <img src="/assets/village.png" class="d-block w-100 h-100 cover" alt="..."> %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("lp-photo1.png"), class: 'd-block w-100 h-100 cover' %>
        <%# <img src="/assets/forest.png" class="d-block w-100 h-100 cover" alt="..."> %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("lp-phpto2.png"), class: 'd-block w-100 h-100 cover' %>
        <%# <img src="/assets/forest2.png" class="d-block w-100 h-100 cover" alt="..."> %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="contain-inner-2">
    <h4>Word Quest</h4>
    <h5>Study English with this fun RPG game!</h5>
    <%= link_to "Click to play!", home_path, class: "btn btn-ghost" %>
  </div>
</div>
