<div class="container">
  <h2>Choose a character you want to play!</h2>
  <div class="cards">
    <% @characters.each do |character| %>
      <%= link_to show_village_character_maps_path(character), class:'text-decoration-none text-dark' do %>
        <div class="card ns-border">
          <%= image_tag asset_path( character.icon_name.downcase) %>
          <ul>
            <li>
              <%= character.name %>
            </li>
            <li>
              <%= character.language %>
            </li>
            <li>
              <% case character.level%>
              <% when 1%>
              <%= 'A1'%>
              <% when 2%>
              <%= 'A2'%>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
</div>
