<div style="background-color: #108DE0; height: 100vh;">
  <div class="d-flex justify-content-center" style="background-color:#108DE0">
    <div class="container sign-up p-3 px-4"style=" width: 100vw; background-size:cover;whitesmoke;padding-left:15px;pagging-right:15px;">
      <div class="contain_btns">
        <%= link_to new_character_path(current_user.id), class: 'text-decoration-none text-dark back-to-form flex' do %>
          <h2 class='create-btn nes-btn is-warning'>Create new character</h2>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'text-decoration-none text-dark back-to-form flex' do %>
            <h2 class='create-btn nes-btn'style="background-color:#108DE0; color:white;">Log out</h2>
          <% end %>
        <% end %>
      </div>
      <h2 style="margin-top:30px; margin-bottom:30px;margin-right:15px;">Choose a character you want to play!</h2>
      <div class="cards" style="margin-top:0px;">
        <% @characters.each do |character| %>
          <%= link_to character_path(character), class:'text-decoration-none text-dark' do %>
            <div class="card ns-border" style="font-size:15px;">
              <%= image_tag asset_path( character.icon_name.downcase) %>
              <ul>
                <li>
                  <%= character.name %>
                </li>
                <li>
                  <%= character.language %>
                </li>
                <li>
                  <% case character.level%>
                  <% when 1%>
                  <%= 'A1'%>
                  <% when 2%>
                  <%= 'A2'%>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
