<%= link_to new_user_character_path, value: 'back to the character creation form', class: 'text-decoration-none text-dark back-to-form' do %>
  <h2 class='create-btn nes-btn is-warning mx-5'>Create new character</h2>
<% end %>
<div class="container">
  <h2>Choose a character you want to play!</h2>
  <div class="cards">
    <% @character.each do |character| %>
      <%= link_to character_games_path(character), class:'text-decoration-none text-dark' do %>
        <div class="card ns-border">
          <% case character.icon_name%>
          <% when 'hero'%>
          <%= image_tag asset_path('hero.png')%>
          <% when 'doug'%>
          <%= image_tag asset_path('Doug.png')%>
        <% end %>
        <ul>
          <li>
            <%= character.name %>
          </li>
          <li>
            <%= character.language %>
          </li>
          <li>
            <% case character.level%>
            <% when 1%>
            <%= 'A1'%>
            <% when 2%>
            <%= 'A2'%>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
</div>
</div>
